.accrd, .accrd div, .accrd h1,
.accrd p, .accrd a, .accrd img,
.accrd span, .accrd em, .accrd ul,
.accrd li {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Raleway', sans-serif;
  border-radius: 7px;
}

.accrd {
  width: 350px;
  height: 450px;
  padding: 1px 5px 5px 5px;
  background: #2c3e50;
}

.accrd .tab {
  display: block;
  height: 35px;
  margin-top: 4px;
  padding-left: 20px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 7px;
  background: #e67e22;
}

.accrd .tab:hover,
.accrd div:target .tab {
  color: #2b3b06;
  background: #e67e22;
}

.accrd div .content {
  display: none;
  margin: 5px 0;
  color: white;
}
 
.accrd div:target .content {
  display: block;
}
 
.accrd > div {
  height: 40px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
}
 
.accrd > div:target {
  height: 350px;
}


























