<html>
<head>
	<title>DOMfun</title>
</head>
<body>
	<header id="header">
		<h1>F<em class="em">under</em>DOM</h1>
		<hr></hr>
	</header><!-- /header -->
	<h2>Welcome to the DOM fun house :)</h2>
	<p>wat</p>

	<section id="main">
		<nav>
			<ul>
				<li>About</li>
				<li><span class="em">Blog</span></li>
				<li>Contact</li>
			</ul>
		</nav>
	</section>

	<script id="nameTemplate" type="text/template">
		<p><%= name %></p>
	</script>

	<script id="ageTemplate" type="text/template">
		<p><%= age %></p>
	</script>

	<div id='nameTarget'>
  </div>

  <div id='myTemplate'>
  </div>


<script src="underscore/underscore.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>